.header {
  grid-column: full-start/ full-end;
  grid-row: 2/ 2;
  padding: 8rem 3rem 0 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(235, 235, 235, 0.801),
    rgba(196, 195, 195, 0.808) 
  ),  url(../img/changer6.jpg);
  
  background-size: cover;
}
