.treatments{
     grid-column: full-start/ full-end;
    grid-row: 4/ 5;
    display: grid;
    grid-template-columns:repeat(8, 1fr);
    padding: 4rem 2rem;

    &__fig{
        width: 100%;
    }
    &__img{
        height: 80%;
        width: 100%;
    }
}